/* #portfolio {
  padding 
} */

.portfolio {
  background-color: var(--sage-dark-top);
  padding: 1.8rem 20px;
  color: #FFFFFF;
}

.portfolio-container {
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.portfolio-group {
  margin-bottom: 25px;
  padding-bottom: 3rem;
  border-bottom: solid 1px #FFFFFF;
}

.portfolio-group:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}


.portfolio-main-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 18px;
}

.portfolio-title {
  /* color: #FFFFFF; */
  font-size: 1.8rem;
  font-weight: 650;
  margin-bottom: -10px;
  color: #FFFFFF;
}

.portfolio-subtitle {
  font-size: 1rem;
  margin-bottom: 40px;
  line-height: 1.6;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
