#about {
  padding: 1.8rem 0;
  padding-bottom: 2.5rem;
}

.about-container {
  max-width: 820px;
  margin: 0 auto;
  text-align: left;
  color: #333;
}

.about-container h2 {
  color: var(--sage-nav);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.about-container p {
  line-height: 1.8;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 18px;
}
